.pdf-forms-for-woocommerce-notice .messages
{
	font-family: monospace;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 200px;
	overflow: scroll;
}

.pdf-forms-for-woocommerce-notice .error
{
	color: red;
}

.pdf-forms-for-woocommerce-notice .warning
{
	color: #f0ad4e;
}
